*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:"M PLUS 1",sans-serif;
    scroll-behavior: smooth;
    letter-spacing: 1px;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}



.logo .tesla{
    height: 20px;
    width: 120px;
    margin: 1rem 20px;

    
   
}
ul{
    list-style: none;
}
header{
    height: 100vh;
    min-height: 40em;
    background: url(car1.avif);
    background-size: cover;
    position: relative;
}
 ul{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
    
}
ul li a{
    color: white;
    text-decoration: none;
}

i{
    color: aliceblue;
}
.picture{
padding-left: 130px;
}
.center{
    width: 100%;
    height: 100px;
    margin-top: 30px;
}
.center h1{
    color: #ffff;
    text-align: center;
    font-size: 50px;

    
}
u h4{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 27px;
    color: #ffff;
}
u{
    color: #ffff;
    margin-top: 10px;
}
.center .from{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #ffff;
    font-weight: 200;
}
.button{
    width: 40%;
    height: 40px;
position: absolute;
bottom: 0%;
display: flex;
left: 536px;
margin-bottom: 17px;
gap: 20px;



}
 button{
    height: 40px;
    width: 40%;
    border-radius: 5px;
    border: 0;
   
    
}
.btn1{
    background-color:#3e6ae1;
    color: #ffff;
}
.second-part{
    width: 100%;
    height: 100vh;
    background-image: url(image2.avif);
    background-size: cover;
    position: relative;
    
    
}
 .hints{
    width: 100%;
    height:100vh;
    position: absolute;
    bottom: 0;

    

 }
 .hints h1{
    color: #ffff;
    text-align: center;
    font-size: 50px;
    margin-top:50px ;
 }
 .hints .from1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #ffff;
    font-weight: 200;
}
.third-part{
    width: 100%;
    height: 100vh;
    background-image: url(image3.avif);
    background-size: cover;
    position: relative;
}
.hints .from2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #ffff;
    font-weight: 600;
    font-style: normal;
}
.fourth-part{
    width: 100%;
    height: 100vh;
    background-image: url(image3.avif);
    background-size: cover;
    position: relative;
}
.hints .from3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #ffff;
    font-weight: 600;
    font-style: normal;

}
.fifth-part{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(image4.avif);
    background-size: cover;
    position: relative;
}
.button2{
    position: absolute;
    display: flex;

    bottom: 0;
    width: 40%;
    align-items: end;
    margin-bottom: 2%;
    left: 32%;
    gap: 20px;
    

}
.btn2{
    background-color: rgb(36, 36, 36);
    color: rgb(115, 116, 117);
    border-radius: 0%;
    font-size: 14px;
    font-weight: 600;
   border-top: solid gray 2px;
    

}
.btn3
{
    background-color: rgb(36, 36, 36);
    color: rgb(115, 116, 117);
    border-radius: 0%;
    font-size: 14px;
    font-weight: 600;

}
.icon{
    width: 100%;
    height: 40%;
}
.sixth-part{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(image5.avif);
    background-size: cover;
    position: relative;
}
   
.seventh-part{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(image6.avif);
    background-size: cover;
    position: relative;
}
.produce{
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: 30px;
}
.eighth-part{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(image7.avif);
    background-size: cover;
    
}.ninth-part{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(image8.avif);
    background-size: cover;
    display: flex;
    
}
.button2{
    width: 35%;
    height: 60px;
    position: absolute;
    bottom: 10px;
    justify-content: center;
    
    
   
    
}
.btn4{
    background-color: #3e6ae1;
    color: #ffff;
    
}
.footer{
    width: 100%;
    height: 70vh;
    background-color:black;
    position: relative;
    display: flex;
}
.discription{
    width: 100%;
    height: 70vh;
    color: #ffff;
    font-size: x-small;
    position: absolute;
   
    display: flex;
    gap: 40px;
   
    flex-direction: column;
    align-items: center;
    margin-top: 30px;


    

    

}
.discription p{
    width: 45%;
    font-size: 12px;
    
    color: gray;

}
.tes {
    position: absolute;
    bottom: 0;
   
    width: 100%;
    height: 60px;
    
    gap: 0;
    display: flex;
    justify-content: center;
    display: flex;
    gap: 20px;
    

}
.tes p{
    color:grey;
    font-size: smaller;
    
    

    
    
    
}


    
   






    
   